# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
.*
!.gitignore

# image
*.ppm
*.png
*.jpg
!cornell_sampling_hittable_list5_first_perfect_picture.png
!cornell_sampling_hittable_list12.png

# ohters with cuda
*.exp
*.zip

two_noise_texture.cu
implicit_func.h

stb-master